.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*COMMON*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*HEADER*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.exit {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  stroke: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.exit:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-icon-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit:focus + .button-icon-svg {
  fill: #ffffff;
}
.exit:hover + .button-icon-svg {
  fill: #ffffff;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link.current,
.mobile-contacts-link.current {
  color: #404bbf;
}
.mobile-contacts-link:hover,
.mobile-contacts-link:focus {
  color: #404bbf;
}
.mobile-contacts {
  font-style: normal;
  display: block;
  margin-bottom: 48px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.mobile-contacts-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-icons-list {
  display: flex;
  justify-content: left;
  gap: 24px;
}

.mobile-menu-icons-item {
  width: 40px;
  height: 40px;
}
.mobile-menu-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-mobile-menu {
  fill: #f4f4fd;
}
.mobile-menu-icons-link:hover,
.mobile-menu-icons-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*INTRO*/
.intro {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  max-width: 320px;
  padding: 72px 0;
}

.title-container {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}
.intro-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #fff;
}

.intro-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.intro-button:hover,
.intro-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .intro {
    max-width: 1157px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (min-resolution: 2x) {
    .intro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2x.jpg);
    }
  }

  .intro-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
  }
  .intro-button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .intro {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }

  .intro-button {
    margin-top: 48px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.about-team-item {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 100%;
}
.about-team-item-icons {
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  text-align: center;
  padding: 24px 100px;
  background-color: #f4f4fd;
}
.about-team-item-name {
  margin-bottom: 8px;
  color: #2e2f42;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}
.about-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.about-team-item-description {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .about-team-item-name {
    text-align: left;
  }
  .about-team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .about-team-item {
    width: calc((100% - 72px) / 4);
  }
  .about-team-list {
    gap: 24px;
  }
  .about-team-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .about-team-item-description {
    font-weight: 400;
  }
  .about-team-item-icons {
    display: flex;
  }
}
/*TEAM*/
.team {
  background-color: #f4f4fd;
}
.team-member-container {
  max-width: 296px;
}
.team-members {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
}
.team-members-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 64px 24px;
}

.team-members-item {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.staff-info {
  padding: 32px 0;
}
.team-members-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-members-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-members-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-members-icons-item {
  width: 40px;
  height: 40px;
}
.team-members-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-team-members {
  fill: #f4f4fd;
}
.team-members-icons-link:hover,
.team-members-icons-link:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .team-member-container {
    max-width: 584px;
  }
  .team-members-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-members-item {
    width: calc((100% - 72px) / 4);
  }
  .team-member-container {
    max-width: 1158px;
  }
}
/*PORTFOLIO*/
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 48px 24px;
  padding: 0;
  list-style: none;
}
.portfolio-list-item {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-list-item-text {
  transform: translateY(0);
}
.portfolio-list-item-text {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  top: 0;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-cover {
  position: relative;
  overflow: hidden;
}
.photo-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-img-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-img-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}
/*FOOTER*/
.page-footer {
  display: flex;
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  text-align: center;
  justify-content: center;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-social-icons {
  text-align: center;
}
.social-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-icons-list {
  display: flex;
  text-align: center;
  gap: 16px;
}
.footer-icons-item {
  width: 40px;
  height: 40px;
}
.footer-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
.icons {
  fill: #f4f4fd;
}
.futer-subscribe-form {
  display: block;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.subscribe-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}
.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-btn-sbt {
  margin-left: 16px;
}
.footer-button-item:hover {
  background-color: #404bbf;
}
.icon-btn-sbt {
  fill: #fff;
}
@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
  .footer-container {
    max-width: 584px;
    text-align: left;
    justify-content: flex-start;
  }
  .footer-social-icons {
    text-align: left;
  }
  .futer-subscribe-form {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .footer-input {
    opacity: none;
  }
  .footer-form {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer-container {
    max-width: 1158px;
    align-items: baseline;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
  }

  .page-footer {
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
  }
  .footer-form {
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .futer-subscribe-form {
    text-align: left;
  }
  .footer-social-icons {
    text-align: left;
  }
  .footer-logo-text {
    text-align: left;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  top: 50%;
  left: 50%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  stroke: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.exit:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-icon-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit:focus + .button-icon-svg {
  fill: #ffffff;
}
.exit:hover + .button-icon-svg {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 16px;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  min-width: 360px;
  margin-bottom: 4px;
}
.button-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  min-width: 169px;
  cursor: pointer;
  height: 56px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover {
  background-color: #404bbf;
}
.modal-field {
  margin-bottom: 8px;
}
.input-icon-svg {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  height: 24px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.text-comment:hover {
  border: 1px solid #4d5ae5;
}
.modal-input:focus + .input-icon {
  stroke: #4d5ae5;
  fill: #4d5ae5;
}
.text-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.text-comment:focus {
  border-color: #4d5ae5;
}
.text-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.label-textarea {
  margin-bottom: 16px;
}
.modal-check:checked + .modal-check-label > .modal-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-box-container {
  margin-bottom: 24px;
}
.modal-check-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-label {
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-check-label-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
